<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <modules>
    <!-- moduleType="full class name, namespace, vers"-->

    <!--<module assemblyFile="GhisPrism.FileExplorerRibbon.dll" moduleType="GhisPrism.FileExplorerRibbon.RibbonModule, GhisPrism.FileExplorerRibbon, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="RibbonModule" startupLoaded="True" />-->

    <module assemblyFile="GhisPrism.Package.dll" moduleType="GhisPrism.Package.PackageModule, GhisPrism.Package, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PackageModule" startupLoaded="True" />
  </modules>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.7.1.0" />
      </dependentAssembly>
      -->
  <!-- ...and maybe some more...  4.0.4.1 -->
  <!--
    </assemblyBinding>
  </runtime>-->
</configuration>