<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <!-- moduleType="full class name, namespace, vers"-->
    <module assemblyFile="GhisPrism.Windows.dll" moduleType="GhisPrism.Windows.Module, GhisPrism.Windows, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="Module" startupLoaded="True" />
  </modules>
</configuration>