<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
  </startup>
  <modules>
    <!-- moduleType="full class name, namespace, vers"-->

    <module assemblyFile="GhisPrism.FileExplorerRibbon.dll" moduleType="GhisPrism.FileExplorerRibbon.RibbonModule, GhisPrism.FileExplorerRibbon, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="RibbonModule" startupLoaded="True" />

    <module assemblyFile="GhisPrism.FileExplorerTreeView.dll" moduleType="GhisPrism.FileExplorerTreeView.FileItemListViewModule, GhisPrism.FileExplorerTreeView, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="FileItemListViewModule" startupLoaded="True" />
  </modules>
</configuration>